.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.page {
  background-color: lightgray;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
